body {
    background:rgb(6, 0, 34);
    color: rgb(211, 221, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

th {
    font-size: 18px;
}

header {
    height: 12%;

    background-image: url("https://imgur.com/6cShaUG.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 42%;
}

header h1 {
    font-size: 48px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-shadow: 4px 4px rgb(44, 44, 44);
}

header img {
    height: 140px;
}

#courseRow {
    cursor: pointer;
}

#courseRow:hover {
    color:rgb(211, 221, 255);
}

.classFull{
    color: rgb(255, 66, 66);
}

.classLow{
    color: rgb(235, 185, 23);
}

.ratingLow{
    color: rgb(255, 66, 66);
}

.ratingAverage{
    color: rgb(235, 185, 23);
}

.ratingHigh{
    color: rgb(66, 255, 66);
}

#detailsTable {
    display: none;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#detailsTable a {
    color: rgb(211, 221, 255);
}

#detailsTable a:hover {
    color: rgb(159, 171, 211);
}